<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN'
  'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>
<mapper namespace="com.pucara.persistence.mapper.CategoryMapper" >

    <insert
        id="insertCategory"
        keyProperty="id"
        parameterType="Category"
        useGeneratedKeys="true" >
    INSERT INTO category(name, description)
    VALUES(#{name}, #{description})    </insert>

    <resultMap type='Category' id='CategoryResult'>
        <id property='id' column='id'/>
        <result property='name' column='name'/>
        <result property='description' column='description'/>
    </resultMap>
    
    <select id='getAllCategories' resultMap='CategoryResult'>
        SELECT * FROM category
    </select>
    
    <select id='getCategoryById' parameterType='int' resultType='com.pucara.persistence.domain.Category'>
        SELECT
           id,
           name,
           description
        FROM category
        WHERE id = #{id}
    </select>

</mapper>