<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<timestamp key="byDate" datePattern="dd-MM-yyyy" />

	<appender name="fileAppender" class="ch.qos.logback.core.FileAppender">
<!-- 		<file>src/main/resources/logs/log-${byDate}.out</file> -->
		<file>resources/logs/log-${byDate}.out</file>
		<append>true</append>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>DEBUG</level>
			<onMatch>DENY</onMatch>
			<onMismatch>ACCEPT</onMismatch>
		</filter>
		<encoder>
			<pattern>%d [%thread] %-5level %logger{35} - %msg%n</pattern>
		</encoder>
	</appender>
	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>DEBUG</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
		<!-- encoders are by default assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder -->
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<root level="debug">
		<appender-ref ref="stdout" />
	</root>
	<root level="rest">
		<appender-ref ref="fileAppender" />
	</root>
</configuration>