<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE configuration
  PUBLIC '-//mybatis.org//DTD Config 3.0//EN'
  'http://mybatis.org/dtd/mybatis-3-config.dtd'>
<configuration>

    <properties resource="properties/jdbc.properties" />

    <typeAliases>
        <typeAlias
            alias="Category"
            type="com.pucara.persistence.domain.Category" ></typeAlias>
         <typeAlias
            alias="ProductsCategoryHelper"
            type="com.pucara.persistence.domain.ProductsCategoryHelper" ></typeAlias>
         <typeAlias
            alias="DailyExpensesHelper"
            type="com.pucara.persistence.domain.DailyExpensesHelper" ></typeAlias>
    </typeAliases>

    <environments default="development" >
        <environment id="development" >
            <transactionManager type="JDBC" />
            <dataSource type="POOLED" >

                <property
                    name="driver"
                    value="${jdbc.class}" />

                <property
                    name="url"
                    value="${jdbc.url}" />

                <property
                    name="username"
                    value="${jdbc.username}" />

                <property
                    name="password"
                    value="${jdbc.password}" />
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper resource="mappers/CategoryMapper.xml" />
        <mapper resource="mappers/ReportMapper.xml" />
    </mappers>

</configuration>